.ind-global-div {
    width: 100%;
padding: 5px;
    box-sizing: border-box;
}

.ind-main-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ind-main-div button {
    width: 80%;
    flex-grow: 0.9;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ind-main-div button:hover {
    background-color: rgba(0, 0, 0, 0.474);
    color: #fff;
}

.ind-name {
    height: 30px;
    font-size: 1.5rem;
    color: #fff;
}

.color-Tech {
    background-color: rgba(76, 145, 255, 0.5);
}

.color-Health {
    background-color: rgba(54, 255, 155, 0.5);
}

.color-Energy {
    background-color: rgb(255, 54, 134, 0.5);
}

.ind-sentiment {
    background-color: #ffcc00;
    transition: background-color 0.3s;
}

.detail-ind-btn {
    background-color: #ffdd99;
}

.trade-button {
    position: relative;
    top: -5%;
    background-color: #ffaa00;
    font-weight: bold;
}

.color-POSITIVE {
    background-color: rgba(52, 152, 52, 0.848);
    color: #fafafa;
    border: 1px solid #008d21;
  }
  
  .color-NEGATIVE {
    background-color: #f77d87;
    color: #721c24;
    border: 1px solid #93000f;
  }
  
  .color-NEUTRAL {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
  }
  