.div-main-industrybar{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #d9d9d9;
    gap:1%;
    border-radius: 5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.title-industrybar{
    font-size: x-large;
    margin-right: 5px;
}

.div-main-industrybar button{
    flex: 1;

}