.div-main-industrybar{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #d9d9d9;
    gap:1%;
    border-radius: 5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
}
.title-industrybar{
    font-size: x-large;
    margin-right: 5px;
}

.div-main-industrybar button{
    flex: 1;

}
.ind-sentiment-industryBar{
  height:50px;
  width:50px;

}


.price-industrybar {
    display: flex;
    flex: 0.8;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .price-actual-industryBar {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .variacion-industryBar {
    margin: 0;
    font-size: 16px;
  }
 