.div-main-manager {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }
  
  .div-over-manager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 15%;
  }
  .div-leftCorner-manager{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-gap: 10px;
    grid-template-rows: auto;
  }
  .chart-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
  }
  