.options-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #45c5f8dc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;

  }
  
  .input-group-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .input-group-main label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-group-main input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .input-group-min{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
  
  .options-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .options-container button:hover {
    background-color: #0056b3;
  }
  