.trade-main-div{
    position: absolute;
    top: 60px;
    left: 1%;
    margin-top: 1%;
    display: grid;
    grid-template-rows: 14% 14% 47% 10%;
    grid-template-columns: repeat(7,minmax(30px, 1fr));
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    grid-template-areas:
    ". . nombre nombre nombre . escape"
    "sentiment sentiment . price . cash cash"
    "compraventa compraventa liq liq liq accept accept"
    "compraventa compraventa liq liq liq flow flow";
    color:#f3f7f6;
    background-color: #E0F2F1;
    border-radius: 2%;
    border: 1px dotted black

}
.trade-main-div button {
    transition: background-color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);}

.titulo-trade{
    grid-area: nombre;
}
.trade-escape-btn{
    grid-area: escape;
}
.trade-sentiment-btn{
    grid-area: sentiment;
    height: 80%;
    width: 80%;
    border-radius: 10%;
}
.trade-price-p{
    grid-area: price;
    font-size: 20px;
}

.trade-cash-h3{
    grid-area: cash;
}

.compraventa-btn{
    grid-area: compraventa;
    height: 90%;
    width: 80%;
    border-radius: 10%;
    font-size: xx-large;
    
}
.liquidity-div{
    grid-area: liq;
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.add-liq-btn{
    flex-grow: 0.8;
    width: 28%;
    border-radius: 8%;
    background-color: rgba(164, 14, 239, 0.609);
    color: #E0F2F1;
    font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.trade-flow{
grid-area: flow;
display: flex;
gap: 5%;
align-items: center;
justify-content: space-around;
width: 100%;
}
.flow-value{
    position: relative;
    top: -25px;
    left: 38%;
}

.trade-accept-btn{
    grid-area: accept;
    height: 90%;
    width: 80%;
border-radius: 50%;
font-size: xx-large;
}

.accept-activado{
    background-color: #c8c635c3;
}

.color-BUY{
    background-color: rgba(52, 152, 52, 0.848);
    color: #f6f6f6;
}
.color-SELL{
    background-color: rgba(203, 45, 45, 0.801);
    color: #f3f7f6;
}
.color-NULL{
    background-color: antiquewhite;
}

.button-aura {
    display: inline-block;
    padding: 15px 30px;
    color: rgb(254, 139, 7);
    background-color: #fefa03ef; /* Color de fondo del botón */
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center;
    z-index: 0;
    transition: background-color 0.3s;
    box-shadow: 0 0 20px rgb(255, 217, 0), 0 0 60px rgb(255, 217, 0);
    animation: aura 2s infinite;
  }
  .button-aura:hover {
    background-color: #fce746;
  }
  
  .button-aura::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background-color: rgba(255, 215, 0, 0.2);
    background: radial-gradient(circle, rgba(255, 215, 0, 0.4) 0%, rgba(255, 215, 0, 0) 80%);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: -1;
  }
  
  @keyframes aura {
    0% {
      box-shadow: 0 0 10px rgba(255, 215, 0, 0.5), 0 0 20px rgba(255, 215, 0, 0.3);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 215, 0, 0.7), 0 0 30px rgba(255, 215, 0, 0.5);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 215, 0, 0.5), 0 0 20px rgba(255, 215, 0, 0.3);
    }
  }
  
  